
venv/
env/
.venv/
.env/

*.env
*.env.*

__pycache__/
*.py[cod]
*$py.class

*.log
db.sqlite3
/media/

node_modules/
build/
dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.swp
